* {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#highscores {
    align-items: center;
}
#time {
    align-items: center;
}
#main {
    align-items: center;
    text-align: center;
    
}
table {
    align-items: center;
    text-align: left;
    margin: 0 auto;
    justify-content: center;
    width:10%;
}
tr,td {
    align-items: center;
    text-align: left;
}
#correct {
    align-items: center;
    text-align: center;
}
.question {
    padding: 5px 5px;
    margin: 5px 5px;
    display:inline-block;
    position:relative;
}
